<div class="">
    <div class="w3-row w3-xlarge roboto-light niagara textHintYellow">
        <div class="w3-col s1">
            <a href="{{ '/index.html' | prepend: site.baseurl }}" class="w3-button w3-hover-red w3-block" style="padding-left: 1vh;">GlueTube</a>
        </div>
        <div class="w3-col s1 w3-right">
            <a href="{{ '/about.html' | prepend: site.baseurl }}" class="w3-button w3-hover-red w3-block" >About</a>
        </div>
        <div class="w3-col s1 w3-right">
            <a href="{{ '/gallery.html' | prepend: site.baseurl }}" class="w3-button w3-hover-red w3-block" >Gallery</a>
        </div>
        <div class="w3-col s1 w3-right">
            <a href="{{ '/studio.html' | prepend: site.baseurl }}" class="w3-button w3-hover-red w3-block" >Studio</a>
        </div>
        <div class="w3-col s1 w3-right">
            <a href="{{ '/index.html' | prepend: site.baseurl }}" class="w3-button w3-hover-red w3-block" >Home</a>
        </div>
    </div>
</div>
