
 <h1 class="title is-5  has-text-centered">categorias</h1>
<div class="tags are-medium" style="display: flex; justify-content: center;">
    {% for track in site.data.studio %}
        {% assign item = track[1] %}
                <a href="{{ item.category | datapage_url: '/categories' | prepend: site.baseurl}}" class="tag">
            {{ item.category }}
        </a>    
    {% endfor %}
</div>
<h1 class="title is-5 has-text-centered">autores</h1>
<div class="tags are-medium" style="display: flex; justify-content: center;">
  
    {% for track in site.data.studio %}
        {% assign item = track[1] %}
        <a href="{{ item.author | datapage_url: '/authors' | prepend: site.baseurl}}" class="tag">
            {{ item.author }}
        </a>    
    {% endfor %}
</div>
