<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon/favicon-32x32.png' | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/images/favicon/favicon-16x16.png' | prepend: site.baseurl }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/modal.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/progressBar.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/studiostyle.css' | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script src="{{ '/assets/js/progressBar.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/modal.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/playScore.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/script.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/stopScore.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/storeScore.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/studioscript.js' | prepend: site.baseurl }}"></script>
</head>
