<!-- Project Info Form -->
<div id="info_form" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Informações do Projeto</p>
        <button class="delete formbtn_cancel" aria-label="close" onclick="modal('info_form');"></button>
      </header>
      <section class="modal-card-body">
        <div class="container modal-content">

            <div class="field">
                <label class="label">Título</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Text input" id="title">
                </div>
            </div>

            <div class="field">
                <label class="label">Autor</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Text input" id="author">
                </div>
            </div>

            <div class="field">
                <label class="label">Descrição</label>
                <div class="control">
                  <textarea class="textarea" type="text" value="" placeholder="Textarea" id="description"></textarea>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <label class="label">Licença</label>
                    <div class="select">
                        <select>
                        <option id='license'>Creative Commons</option>
                        </select>
                    </div>
                </div>
                <div class="column">
                    <label class="label">Categoria</label>
                    <div class="control">
                  <input class="input" type="text" placeholder="Text input" id="category">
                </div>
                </div>
            </div>
            
            <br>
            <br>
        </div>
      </section>
      <footer class="modal-card-foot">
        <div class="clearfix">
            <button class="button is-success" onclick="modal('info_form');storeScore(piece);" >Salvar</button>
            <button class="button formbtn_cancel" onclick="modal('info_form');" >Cancelar</button>
        </div>
      </footer>
    </div>
</div>

