<html>
    {% include /studio/head.html %}
    <body>
        <!-- Nav -->
        {% include nav.html %}

		<div class="w3-content" style="max-width:1100px;margin-top:60px;margin-bottom:80px">
			<div class="w3-panel">
				<h1 class="title is-2"><b>GALERIA</b></h1>
				<p>{{ page.title }}</p>
			</div>
		
			<div class="w3-container">
				<div sytle="position:absolute; top:40px;">
					
					<div>
						{% for track in site.data.studio %}
							{% assign item = track[1] %}
							{% if item.category == page.title %}
								<h2><a href="{{ site.baseurl }}/{{ item.title | datapage_url: 'studio' }}">{{ item.title }}</a></h2>
								<p>Date: {{ item.date }}</p>
								<p>Description: {{ item.description }}</p>
								<br><br>
							{% endif %}
						{% endfor %}
					</div>

				</div>
			</div>
		</div>
    </body>
</html>
