<!DOCTYPE html>
<html>
    {% include head.html %}
<body class="home mercury">
    <!-- Nav -->
    {% include nav.html %}

    <!-- Slideshow -->
    {% include slidershow.html%}
    <!-- Corpo da pagina -->

    <div class="container has-text-centered mt-5 " >
        <h1 class="title textTundora">GlueTube, uma ferramenta de colagem usando midia digital!</h1>
        <h2 class="subtitle mt-3 textTundora">O GlueTube é um ambiente de criação tanto musical quanto visual, fundamentado nastécnicas de colagem e no uso dos vídeos disponíveis no YouTube e de outros conteúdosonline como notícias, imagens e sons. </h2>

        <div class="columns is-multiline mt-6" style="display: flex; justify-content: center;">
            <div class="column is-one-quarter">
                <i class="large material-icons" style="font-size: 30pt">content_cut</i>
                <h1 class="title is-6 textTundora">Aparar & Cortar</h1>
                <h2 class="subtitle is-6 textTundora">Apare rapidamente os seus filmes, e descubra aqueles momentos perfeitos. </h2>
            </div>
            <div class="column is-one-quarter">
                <i class="large material-icons" style="font-size: 30pt">switch_video</i>
                <h1 class="title is-6 textTundora">Edite o video</h1>
                <h2 class="subtitle is-6 textTundora">Arraste e largue vídeo, áudio ou imagens do seu gerenciador de ficheiros para o GlueTube. É assim tão fácil começar a edição de vídeos.</h2>
            </div>
            <div class="column is-one-quarter">
                <i class="large material-icons" style="font-size: 30pt">wb_incandescent</i>
                <h1 class="title is-6 textTundora">Fácil e intuitivo</h1>
                <h2 class="subtitle is-6 textTundora">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum euismod ligula, sit amet tincidunt sapien viverra pulvinar. Sed tincidunt sem porttitor, vestibulum massa iaculis, sagittis nisl.</h2>
            </div>
            
        </div>
        
    </div>

    <!-- Footer -->
    {% include footer.html %}
</body>
</html>
