<html>
    {% include /studio/head.html %}
    <body>
        <!-- Nav -->
        {% include nav.html %}
        <!-- Nav studio -->
        {% include /studio/nav.html %}
        {% include /studio/modal.html %}

        <div id="temporary_div" style="display:none;">
            <div id="title">{{ page.title }}</div>
            <div id="author">{{ page.author }}</div>
            <div id="date">{{ page.date }}</div>
            <div id="description">{{ page.description }}</div>

            <table id="score">
                {% for item in page.score %}
                    <tr>
                        <td>{{ item.url }}</td>
                        <td>{{ item.startTime }}</td>
                        <td>{{ item.endTime }}</td>
                        <td>{{ item.volume }}</td>
                        <td>{{ item.posx }}</td>
                        <td>{{ item.posy }}</td>
                        <td>{{ item.width }}</td>
                        <td>{{ item.height }}</td>
                        <td>{{ item.schedule }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div id="ytplayer"></div>

        <div class="menu-1">
            <table id="score_table"></table>
            <br />
            <button
                onclick="createVideoForm(-1);showHide('video_form');"
                class="formbtn">Add Video</button>
        </div>

        <script>addVideoFromGallery();</script>
    </body>
</html>
